<a href="https://colab.research.google.com/github/Solangele/histoirepasapas/blob/main/TEST2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python bases

In [ ]:
#Programme pour multiplier deux nombre
x=input("entrez un nombre entier :")
x=int(x)
y=input("entrer un deuxième nombre : ")
y=int(y)
print("x * y égal {}".format(x*y))

entrez un nombre entier :4
entrer un deuxième nombre : 3
x * y égal 12

##Fonction

In [ ]:
v1=13
REF1=14
def somme(i_a,i_b):
  '''
  INPUT:
  OUTPUT:
  '''
  l_s = i_a+i_b
  if l_s>REF1:
   return l_s
  else:
   return l_s+v1
somme(14,17)

31

In [ ]:
12//5

2

In [ ]:
12/5

2.4

In [ ]:
from re import A
#Vérifier la divisibilité de b par a
'''
les inputs: a et b
les outputs: result
'''
def is_divider(a,b):
  result=b/a
# Try/Except pour lever les exceptions
  try:
    if a==0:
     result=False
    elif result == b//a:
     result = True
    else:
     result=False
    return result
  except ValueError:
     print("La saisie est incorrecte")

In [ ]:
is_divider(5,12)

False

In [ ]:
#Divisibilité d'un nombre = code Bouchaib
def is_divisor(num,divisor):
    try:
        if divisor == 0:
            print("la division n'est pas possible")
            return False

        if num % divisor == 0:
            return True
        else:
            return False
    except ValueError:
        print("Invalid input. Please enter valid integers for both numbers.")

In [ ]:
is_divisor(12,3)

True

In [ ]:
for i in range (0,15,2):
  print(i)

0
2
4
6
8
10
12
14

In [ ]:
##set est une fonction qui rend une liste avec des élements uniques
l={1,2,3,4,5,5}
x=set(l)
l1=list(x)
print(x)

{1, 2, 3, 4, 5}

In [ ]:
def trouver_diviseurs(nombre):
    diviseurs = set()
    for i in range(1, nombre + 1):
        if nombre % i == 0:
            diviseurs.add(i)
    return diviseurs
    try:
    nombre_choisi = int(input("choisir un nombre "))

IndentationError: ignored

In [ ]:
diviseurs =trouver_diviseurs(12)

NameError: ignored

In [ ]:
def diviseur(n):
  # definir l'ensemble ens_divideur
  ens_diviseur=set()
  for i in range(1, n+1):
    if n%i==0:
      ens_diviseur.add(i)
    else:
      ens_diviseur
  return ens_diviseur

In [ ]:
# Exercice 1
annee = int(input("Entrez une année : "))
if annee % 4 == 0:
   print("l'année {} est divisible par 4".format(annee))
else:
   print("l'année {} n'est pas divisible par 4".format(annee))

Entrez une année : 2024
l'année 2024 est divisible par 4

In [ ]:
# Exercice 2
annee = int(input("Entrez une année : "))

# Vérifieer si l'année est bissextile
if (annee % 4 == 0 and annee % 100 != 0) or (annee % 400 == 0):
    print("L'année {} est bissextile.".format(annee))
else:
       print("L'année {} n'est pas bissextile.".format(annee))

Entrez une année : 2023
L'année 2023 n'est pas bissextile.

In [ ]:
"c'est une fonction qui mélange les élements d'une listes"
import random
l={1,2,3,4,5,5}
x=set(l)
l1=list(x)
random.shuffle(l1)
print(l1)

[5, 2, 4, 1, 3]

In [ ]:
#Regarder les listes, les ensembles, les dictionnaires,......
#Regarder les foction random.shuffle, random.sample, random.......

In [ ]:
## présenter d'une manière aléatoire la liste
new_list=[5, 7, 8, 9, 10]
random.shuffle(new_list)
print(new_list)

[7, 5, 9, 8, 10]

In [ ]:
## présenter d'une manière aléatoire la liste
new_list=[5, 7, 8, 9, 10]
new_list.sort(reverse=True)
print("Sorted List (Descending):", new_list)

Sorted List (Descending): [10, 9, 8, 7, 5]

In [ ]:
##somme de deux listes
list1=[1,2,3,4,5,6]
list2=[6,5,4,3,2,1]
list=list1+list2
print(list)

[1, 2, 3, 4, 5, 6, 6, 5, 4, 3, 2, 1]

In [ ]:
my_list = [1, 2, 3, 4, 5]

#Multiply every element by 2 using a list comprehension: boucle à l'intérieur de la liste
result_list = [x * 2 for x in my_list]

#Print the resulting list
print("Result List (Using List Comprehension):", result_list)

Result List (Using List Comprehension): [2, 4, 6, 8, 10]

In [ ]:

new_list=[5, 7, 8, 9, 10]
list=2*my_list
print( "la nouvelle liste est :",list)

la nouvelle liste est : [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

**Boucles **

In [ ]:
 #
 ch = input("Entrez un nombre : ")
 x = int(ch)
 i = 0
 while i < x:
      print(i)
      i +=1

Entrez un nombre : 6
0
1
2
3
4
5

In [ ]:
#Boucler jusqu’à ce que l’utilisateur veuille quitter
quitter="non"
while quitter=="non":
      quitter = input("voulez vous quitter: ")

voulez vous quitter: non
voulez vous quitter: non
voulez vous quitter: oui

In [ ]:
#Boucler jusqu'à ce que le jeu soit terminé
terminer = False
while not terminer:
    quitter = input("Voulez -vous quitter ? ")
    if quitter == "oui":
       terminer = True
    else:
       att = input("Voulez -vous attaquer le dragon ? ")
       if att == "oui":
          print("Mauvais choix , vous êtes mort !")
          terminer = True

Voulez -vous quitter ? non
Voulez -vous attaquer le dragon ? non
Voulez -vous quitter ? non
Voulez -vous attaquer le dragon ? oui
Mauvais choix , vous êtes mort !

In [ ]:
#Programme pour inverser une phrase:
def phrase_a_lenvers(phrase):
    mots = phrase.split()
    phrase_inverse =" ".join(mots[::-1])
    return phrase_inverse

# Demander à l'utilisateur d'entrer une phrase

phrase_origine=input("Entrez une phrase : ")

# Appeller la fonction pour inverser la phrase
resultat = phrase_a_lenvers(phrase_origine)

# Affiche la phrase inversée
print("Phrase à l'envers :", resultat)

Entrez une phrase : Je suis belle
Phrase à l'envers : belle suis Je

In [ ]:
def somme(*args):
    total = 0
    for nombre in args:
        total += nombre
    return total

In [ ]:
somme(1,2,3,4,5,6)

21

In [ ]:
#Define the somme function that calculates the sum of a variable number of arguments.
def somme(args):
    # Initialize a variable to store the sum.
    total = 0

#Iterate through the arguments using a for loop.
    for nombre in args:
        # Add each argument to the total.
        total += nombre

#Return the total sum as the result of the function.
    return total


#Get user input for the arguments
user_input = input("Enter a list of numbers separated by spaces: ")

#Split the user input into individual numbers
user_args = [int(x) for x in user_input.split()]

#Call the somme function with the user's arguments
result = somme(user_args)

#Print the result
print("The sum is:", result)

Enter a list of numbers separated by spaces: 2 3 4 5 6 7 9
The sum is: 36

In [ ]:
str_1="hello"
def revname(str_1):
  my_lis=[]
  for i in str_1:
    my_lis.append(i)
    my_lis.sort(reverse=True)
  return my_lis

print(revname("hello"))

['o', 'l', 'l', 'h', 'e']

**Les Dictionnaires**

In [ ]:
d = {}#créer un dictionnaire vide
#ajouter une entrée dans le dictionnaire dont la clé
#nom et la valeur est mhadhbi
#dans un dictinnaire les clés sont uniques
d["nom"] ="Jean"
d["age"]= 32
d["age"] = 29
d[1] = 10
#print(d)
#afficher le nom dans le dictionnaire
print(d["age"])
#afficher les clés dans une liste
print(d.keys())
#vérifier si une clé est dans le dictionnaire
if("age" in d):
    print("la clé age existe")
else:
    print("n\'existe pas")
#afficher les valeurs
print(d.values())
#afficher les valeurs dans une liste
print(d.values())

29
dict_keys(['nom', 'age', 1])
la clé age existe
dict_values(['Jean', 29, 10])
dict_values(['Jean', 29, 10])

In [ ]:
S

In [ ]:
#Créer des filtres pour trouver des élements dans une liste de dictionnaires:Methode 1
etudiants = [
    {"name": "Doe", "first_name": "John", "ville": "Paris"},
    {"name": "Smith", "first_name": "Jane", "ville": 'Lille'},
    {"name": "Brown", "first_name": 'David', 'ville': 'Rennes'},
    {"name": "Martin", "first_name": 'John', 'ville': 'Paris'},
    {"name": "Wilso", "first_name": 'Sophia', 'ville': 'Paris'},
    {"name": "Garcia", "first_name": 'Liam', 'ville': 'Lille'},
    {"name": "Lee", "first_name": 'John', 'ville': 'Rennes'},
    {"name": "Taylor", "first_name": 'Lucas', 'ville': 'Paris'},
    {"name": "Anderson", "first_name": 'Mia', 'ville': 'Lille'},
    {"name": "Harris","first_name": 'Noah', 'ville': 'Paris'}
]
etudiants_paris_john = [etudiant for etudiant in etudiants if etudiant['ville'] == 'Paris' and etudiant['first_name'] == 'John']
for etudiant in etudiants_paris_john:
    print(f"{etudiant['first_name']} {etudiant['name']} habite à Paris.")

John Doe habite à Paris.
John Martin habite à Paris.

In [ ]:
etudiants = [
    {"name": "Doe", "first_name": "John", "ville": "Paris"},
    {"name": "Smith", "first_name": "Jane", "ville": 'Lille'},
    {"name": "Brown", "first_name": 'David', 'ville': 'Rennes'},
    {"name": "Martin", "first_name": 'John', 'ville': 'Paris'},
    {"name": "Wilso", "first_name": 'Sophia', 'ville': 'Paris'},
    {"name": "Garcia", "first_name": 'Liam', 'ville': 'Lille'},
    {"name": "Lee", "first_name": 'John', 'ville': 'Rennes'},
    {"name": "Taylor", "first_name": 'Lucas', 'ville': 'Paris'},
    {"name": "Anderson", "first_name": 'Mia', 'ville': 'Lille'},
    {"name": "Harris","first_name": 'Noah', 'ville': 'Paris'}
]
def trouver_elements(key1,key2)

In [ ]:
#Créer des filtres pour trouver des élements dans une liste de dictionnaires:Methode 2

#Création de la fonction
'''
inputs:liste des dictionnaires contenant les informations des étudiants
outputs: liste des étudiants répondant au filtrage
'''
def trouver_element(first_name:str,city:str)->list:
#création du filtre de recherche
    element_cherche=[etudiant for etudiant in etudiants if etudiant['first_name']==first_name and etudiant['ville']==city]
    return element_cherche

In [ ]:
trouver_element('John','Paris')

[{'name': 'Doe', 'first_name': 'John', 'ville': 'Paris'},
 {'name': 'Martin', 'first_name': 'John', 'ville': 'Paris'}]

In [ ]:
def filter_student(param1, param2, val1, val2):
  # creation liste pour filtrer les etudiants selon les paramètres choisis
  # input : liste des etudiants, paramètres de filtrage
  # output : liste des étudiants recherchés
  list_student = [etudiant for etudiant in etudiants if etudiant[param1]==val1 and etudiant[param2]==val2]
  return list_student

In [ ]:
filter_student('first_name','John','Paris')

TypeError: ignored

In [ ]:
#Ajouter des dictionnaires à la liste des étudiants

etudiants=etudiants.append([{"name": "Fatima","first_name": 'Abaaouch', 'ville': 'Lille'},{"name": "Amine","first_name": 'Taqi', 'ville': 'Lyon'}])

In [ ]:
print(etudiants)

None

In [ ]:
first_name=input("entrez le nom :")
city=input("entrez la ville :")

entrez le nom :Lucas
entrez la ville :Paris

In [ ]:
trouver_element(first_name,city)

[{'name': 'Taylor', 'first_name': 'Lucas', 'ville': 'Paris'}]

In [ ]:
#Création d'une fonction qui vérifie lors d'un nouvel enregistrement est ce qui'il y a pas de doublon
'''
les inputs: la liste à modifier, le nouvel enregistrement
Les outputs:
'''
def ajouter_enregistrement_sans_doublon(liste:list, nouvel_enregistrement:dict):
    # Vérifier si l'enregistrement existe déjà dans la liste
    for enregistrement in liste:
        if enregistrement == nouvel_enregistrement:
            print("L'enregistrement existe déjà, aucune duplication autorisée.")
        return
    # Si l'enregistrement n'existe pas, l'ajouter à la liste
    liste.append(nouvel_enregistrement)
    print("Enregistrement ajouté avec succès.")

SyntaxError: ignored

In [ ]:
#Tester la fonction
etudiants = [
    {"name": "Doe", "first_name": "John", "ville": "Paris"},
    {"name": "Smith", "first_name": "Jane", "ville": 'Lille'},
    {"name": "Brown", "first_name": 'David', 'ville': 'Rennes'},
    {"name": "Martin", "first_name": 'John', 'ville': 'Paris'},
    {"name": "Wilso", "first_name": 'Sophia', 'ville': 'Paris'},
    {"name": "Garcia", "first_name": 'Liam', 'ville': 'Lille'},
    {"name": "Lee", "first_name": 'John', 'ville': 'Rennes'},
    {"name": "Taylor", "first_name": 'Lucas', 'ville': 'Paris'},
    {"name": "Anderson", "first_name": 'Mia', 'ville': 'Lille'},
    {"name": "Harris","first_name": 'Noah', 'ville': 'Paris'}
]
nouvel_enregistrement={"name": "Fatima","first_name": 'Abaaouch', 'ville': 'Lille'}
ajouter_enregistrement_sans_doublon(etudiants, nouvel_enregistrement)
print(etudiants)

[{'name': 'Doe', 'first_name': 'John', 'ville': 'Paris'}, {'name': 'Smith', 'first_name': 'Jane', 'ville': 'Lille'}, {'name': 'Brown', 'first_name': 'David', 'ville': 'Rennes'}, {'name': 'Martin', 'first_name': 'John', 'ville': 'Paris'}, {'name': 'Wilso', 'first_name': 'Sophia', 'ville': 'Paris'}, {'name': 'Garcia', 'first_name': 'Liam', 'ville': 'Lille'}, {'name': 'Lee', 'first_name': 'John', 'ville': 'Rennes'}, {'name': 'Taylor', 'first_name': 'Lucas', 'ville': 'Paris'}, {'name': 'Anderson', 'first_name': 'Mia', 'ville': 'Lille'}, {'name': 'Harris', 'first_name': 'Noah', 'ville': 'Paris'}]

In [ ]:
with open('/content/Fatima.txt', 'r') as f:
        lignes = f.readlines()
        print(lignes)

['Bonjour Marilyne\n', 'Tu es une belle femme']

In [ ]:
#Définition de la fontion
def read_doc(parametre1:str):
 with open(parametre1, 'r') as f:
        lignes = f.readlines()
 return lignes

In [ ]:
read_doc('/content/Fatima.txt')

['Bonjour Marilyne\n', 'Tu es une belle femme']

In [ ]:
"Bonjour; Marilyne".strip().split()

['Bonjour;', 'Marilyne']

In [ ]:
ligne_affichage=[]
with open('/content/Fatima.txt', 'r') as f:
        lignes = f.readlines()
for i in range(0,len(lignes)):
    ligne_affichage.append(lignes[i].strip().split(','))
    print(ligne_affichage)

[['Bonjour; Marilyne;']]
[['Bonjour; Marilyne;'], ['Tu; es; une; belle; femme']]

In [ ]:

def read_doc(parametre1:str):
  '''
  inputs: les lignes du fichier
  outputs: liste de dictionnaires
  '''
#Lecture d'un fichier et récuperation de ces lignes sous fome de liste
  with open(parametre1, 'r') as f:
        lignes = f.readlines()
        ligne_affichage=[]
  for i in range(0,len(lignes)):
    ligne_affichage.append(lignes[i].strip().split(','))
    return ligne_affichage

In [ ]:
read_doc('/content/ds_locations1.txt')

[['identifiant',
  'qualite',
  'raison_sociale',
  'nom',
  'prenom',
  'Label',
  'adresse',
  'code_postal',
  'ville',
  'nb_jours_benef',
  'prix_jour']]

In [58]:
etudiants = [
    {"name": "Doe", "first_name": "John", "ville": "Paris"},
    {"name": "Smith", "first_name": "Jane", "ville": 'Lille'},
    {"name": "Brown", "first_name": 'David', 'ville': 'Rennes'},
    {"name": "Martin", "first_name": 'John', 'ville': 'Paris'},
    {"name": "Wilso", "first_name": 'Sophia', 'ville': 'Paris'},
    {"name": "Garcia", "first_name": 'Liam', 'ville': 'Lille'},
    {"name": "Lee", "first_name": 'John', 'ville': 'Rennes'},
    {"name": "Taylor", "first_name": 'Lucas', 'ville': 'Paris'},
    {"name": "Anderson", "first_name": 'Mia', 'ville': 'Lille'},
    {"name": "Harris","first_name": 'Noah', 'ville': 'Paris'}
]
def trouver_element(parametre1,parametre2):
    liste_recherche=[]
    for etudiant in etudiants:
       if etudiant["first_name"]==parametre1 and etudiant["ville"]==parametre2:
               liste_recherche.append(etudiant)
    return liste_recherche

In [ ]:

def trouver_elem_genrique(**params):
  liste_recherche=[]
  for etudiant in etudiants:
    isExist = False
    for k,v in params.items():
      for m,l in etudiant.items():
        if k == m and v == l:
          isExist = True
        else:
          isExist = False
    if isExist == True:
      liste_recherche.append(etudiant)
  return liste_recherche

In [ ]:
trouver_element("John","Paris")

[{'name': 'Doe', 'first_name': 'John', 'ville': 'Paris'},
 {'name': 'Martin', 'first_name': 'John', 'ville': 'Paris'}]

In [ ]:
trouver_elem_genrique(name="Doe")

[]

In [56]:
def verifier_les_doublons(new_record):
  for etudiant in etudiants:
    if etudiant==new_record:
        print("l'enregistrement existe dans la liste")
        return
  etudiants.append(new_record)
  return etudiants

In [57]:
verifier_les_doublons({"name": "Dos", "first_name": "John", "ville": "Paris"})

NameError: ignored

In [54]:
#Lecture d'un ficher

def read_texte(entree):
  ligness=[]
  with open(entree, 'r') as f:
         lignes = f.readlines()
         for i in range(0,len(lignes)):
            ligness.append(lignes[i].strip("\n"))
  print(ligness)

In [ ]:
read_texte("/content/ds_locations1.txt")

['identifiant,qualite,raison_sociale,nom,prenom,Label,adresse,code_postal,ville,nb_jours_benef,prix_jour', '1,personne_morale,ACME_Corporation,,,ACME_Corporation,123 Rue de la Societe,75001,Paris,120,50.0', '2,personne_physique,,Smith,John,Smith_John,456 Elm Street,90210,Los Angeles,90,60.0', '3,personne_morale,TechCorp,,,TechCorp,789 Tech Avenue,94105,San Francisco,150,75.0', '4,personne_physique,,Brown,Alice,Brown_Alice,321 Oak Lane,30301,Atlanta,75,65.0', '5,personne_morale,Global_Inc,,,Global_Inc,555 Main Road,60601,Chicago,180,55.0', '6,personne_physique,,Johnson,Michael,Johnson_Michael,777 Elm Street,10001,New York,60,70.0', '7,personne_morale,InnoSolutions,,,InnoSolutions,888 Innovation Way,30303,Atlanta,210,80.0', '8,personne_physique,,Anderson,Emma,Anderson_Emma,999 Elm Street,90001,Los Angeles,30,70.0', '9,personne_morale,DataCo_Ltd,,,DataCo_Ltd,111 Data Drive,94025,Palo Alto,270,45.0', '10,personne_physique,,Clark,David,Clark_David,222 Maple Avenue,60603,Chicago,45,60.0', '11,personne_morale,XYZ_Group,,,XYZ_Group,333 Business Blvd,75201,Dallas,300,50.0', '12,personne_physique,,Harris,Susan,Harris_Susan,444 Park Street,94110,San Francisco,15,70.0', '13,personne_morale,ABC_Consulting,,,ABC_Consulting,555 Consulting Lane,30320,Atlanta,240,65.0', '14,personne_physique,,Lee,Robert,Lee_Robert,666 Elm Street,10005,New York,75,75.0', '15,personne_morale,FutureTech_Solutions,,,FutureTech_Solutions,777 Future Drive,94030,Palo Alto,180,55.0', '16,personne_physique,,Wang,Li,Wang_Li,123 Elm Street,90210,Los Angeles,120,80.0', '17,personne_morale,InnovativeCorp,,,InnovativeCorp,789 Innovation Road,60601,Chicago,90,70.0', '18,personne_physique,,Garcia,Carlos,Garcia_Carlos,321 Oak Avenue,30301,Atlanta,30,65.0', '19,personne_morale,DataTech_Ltd,,,DataTech_Ltd,444 Data Drive,94105,San Francisco,210,55.0', '20,personne_physique,,Lopez,Maria,Lopez_Maria,555 Park Lane,75201,Dallas,150,75.0']

Applications (dictionnaires) : code marilyne

In [53]:
#Code de Marilyne : dictionnaire

def liste_enregistrements2(fichier):
  '''

description:
      créer une liste d'enregistrements à partir d'un fichier texte


input:
      fichier = chemin pour accéder au fichier


output:
      enregistrements = liste de dictionnaires contenant les enregistrements

  '''

  enregistrement2 = []
  with open(fichier, 'r') as f:
    lignes = f.readlines()

    cles=lignes[0].strip().split(',')

    for ligne in lignes[1:]:
      valeurs = ligne.strip().split(',')
      #print(valeurs)

      dict = {}
      for cle, valeur in zip(cles, valeurs):
        dict[cle]=valeur

  return enregistrement2

In [52]:
liste_enregistrements("/content/ds_locations1.txt")

NameError: ignored

#                                                         Les Classes

In [10]:
class locataire_entity:
    def __init__(self, qualite):
        self.qualite = qualite
        self.libelle = ''

    def set_libelle(self, label):
        self.libelle = label

Test: attributs de classe

In [93]:
class Personne:                    #Creation de la class
  humeur=''  #attributs de classe: pour les manipuler on utilise pas les objets mais directement la classe
  def __init__(self,nom='',prenom='',adresse=''):
      self.nom=nom
      self.prenom=prenom
      self.adresse=adresse
  def afficher_personne(self):   #Methode
      print(f"Nom: {self.nom}")
      print(f"Prenom: {self.prenom}")
      print(f"adresse: {self.adresse}")
      print(Personne.humeur)
  def get_full_name(self):
    return self.nom+''+self.prenom
  def __str__(self): #Methode pour aficher un objet
    return f"Nom: {self.nom}, Prenom: {self.prenom}"

In [111]:

p1=Personne("Abaaouch","Fatima","51 rue Pascal")    #instancier la classe : creation d'un objet qui prend les attributs de la classe
p1.afficher_personne()              # Avec l'objet de la classe on utilise directement la methode de la classe

identifiant: Abaaouch
qualite: Fatima
label: 51 rue Pascal
adresse:
code_postal:
ville:

In [95]:
print(p1.nom)
print(p1.prenom)

Abaaouch
Fatima

In [70]:
p1.get_full_name()

'AbaaouchFatima'

In [78]:
print(p1)

Nom: Abaaouch, Prenom: Fatima

In [96]:
Personne.humeur='Joyeux'

In [110]:
p2=Personne("Marimyne","Machin","15 gfh")

## Apllication: classes

---

In [314]:
class Personne:                    #Creation de la classe

  def __init__(self,identifiant='',label='',adresse='',
               code_postal='',ville='',qualite=''):
      self.identifiant=identifiant
      self.qualite=qualite
      self.label=label
      self.adresse=adresse
      self.code_postal=code_postal
      self.ville=ville
  def afficher_personne(self):   #Methode
      print(f"identifiant: {self.identifiant}")
      print(f"qualite: {self.qualite}")
      print(f"label: {self.label}")
      print(f"adresse: {self.adresse}")
      print(f"code_postal: {self.code_postal}")
      print(f"ville: {self.ville}")

  def __str__(self): #Methode pour aficher un objet
    return f"identifiant: {self.identifiant},qualite:{self.qualite}, \
     label: {self.label},adresse: {self.adresse}, \
     code_postal: {self.code_postal},ville: {self.ville}"

  def set_object_by_dict(self,dictio):
    self.identifiant=dictio['identifiant']
    self.qualite=dictio['qualite']
    self.label=dictio['Label']
    self.adresse=dictio['adresse']
    self.code_postal=dictio['code_postal']
    self.ville=dictio['ville']

In [46]:
dictio=liste_enregistrements('/content/ds_locations1.txt')
dictio

NameError: ignored

In [275]:
object1=Personne()
object1.set_object_by_dict(dictio[0])

In [314]:
object1.afficher_personne()

identifiant: 1
qualite: personne_morale
label: ACME_Corporation
adresse: 123 Rue de la Societe
code_postal: 75001
ville: Paris

In [315]:
personne1=Personne("1","personne physique","ACME_corporation","123 rue de la societe","75001","Paris")
personne1.afficher_personne()

identifiant: 1
qualite: personne physique
label: ACME_corporation
adresse: 123 rue de la societe
code_postal: 75001
ville: Paris

In [326]:
#creation de la classe fille personne physique qui hérite de la classe Personne
class Personne_Physique(Personne):
  def __init__(self,identifiant='',label='',
               adresse='', code_postal='',ville='', nom= '', prenom='', qualite='personne_physique',):
    super().__init__(identifiant,label,adresse,code_postal,ville,qualite) #héritage des attributs contruits dans la classe mère personne
    self.nom=nom
    self.prenom=prenom
    self.label=(nom+'_'+prenom).replace(' ','_')   #remplacer le chemp label pour nom_prenom

  def afficher_personne(self):
      super().afficher_personne()
      print(f"nom: {self.nom}")
      print(f"prenom: {self.prenom}")
  def set_object_by_dict(self,dictio):
      super().set_object_by_dict(dictio)
      self.nom=dictio['nom']
      self.prenom=dictio['prenom']

  def __str__(self):
    return super().__str__()+f"nom: {self.nom},prenom:{self.prenom}"

In [327]:
P_p=Personne_Physique("2","","456 Elm Street","90210","Los Angeles","John","Smith_John","personne_physique")
P_p.afficher_personne()

identifiant: 2
qualite: personne_physique
label: John_Smith_John
adresse: 456 Elm Street
code_postal: 90210
ville: Los Angeles
nom: John
prenom: Smith_John

In [189]:
#attribuer les attributs du dictionnaire à l'objet
p1=Personne_Physique()
p1.set_object_by_dict(dictio[1])

NameError: ignored

In [306]:
p1.afficher_personne()

identifiant: 2
qualite: personne_physique
label: Smith_John
adresse: 456 Elm Street
code_postal: 90210
ville: Los Angeles
nom: Smith
prenom: John

In [316]:
#creation de la classe fille personne morale qui hérite de la classe Personne
class Personne_Morale(Personne):
  def __init__(self,identifiant='',raison_sociale='',label='', adresse='',\
               code_postal='',ville='', qualite='personne_morale'):
    super().__init__(identifiant,label,adresse,code_postal,ville,qualite)
    self.raison_sociale=raison_sociale
    self.label=self.raison_sociale.replace(' ','_')
  def afficher_personne(self):
      super().afficher_personne()
      print(f"raison_sociale: {self.raison_sociale}")
  def set_object_by_dict(self,dictio): #Méthode de la classe mère surchargé pour la classe fille
      super().set_object_by_dict(dictio)
      self.raison_sociale=dictio['raison_sociale']

In [307]:
personneM=Personne_Morale()
personneM.set_object_by_dict(dictio[0])

In [308]:
personneM.afficher_personne()

identifiant: 1
qualite: personne_morale
label: ACME_Corporation
adresse: 123 Rue de la Societe
code_postal: 75001
ville: Paris
raison_sociale: ACME_Corporation

## Création d'une autre classe "Locations" qui va avoir comme attributs la classe Personne

 '''def __str__(self):
    return f"client: {str(self.client)},nb_jours_bene: {self.nb_jours_bene}, \
    prix_jour: {self.prix_jour}"
  '''

In [308]:
class Locations:

  def __init__(self,identifiant='',label='',
               adresse='',code_postal='',ville='',qualite='',nom='',prenom='',
               raison_sociale='',nb_jours_bene='',prix_jour=''):
    if qualite=='personne_morale':
      self.client=Personne_Morale(identifiant,raison_sociale,label, adresse,\
               code_postal,ville, qualite)
    elif qualite=='personne_physique:':
       self.client=Personne_Physique(identifiant,label,adresse,
                                     code_postal,ville,nom,prenom,qualite)
    else:
      self.client= Personne(identifiant,label,adresse,code_postal,ville,
                            qualite)

    self.nb_jours_bene=nb_jours_bene
    self.prix_jour=prix_jour


  def afficher_location(self):
      self.client.afficher_personne()
      print(f"nb_jours_bene: {self.nb_jours_bene}")
      print(f"prix_jour: {self.prix_jour}")

In [329]:
personne_client=Locations("2","","456 Elm Street","90210","Los Angeles","personne_morale","John","Imad","Bibif",'25','45')
personne_client.afficher_location()

identifiant: 2
qualite: personne_morale
label: Bibif
adresse: 456 Elm Street
code_postal: 90210
ville: Los Angeles
raison_sociale: Bibif
nb_jours_bene: 25
prix_jour: 45

In [ ]:
def creation_listes_objet():